extends ../../layouts/default
block css
    link(href="/styles/chat.css", rel="stylesheet")
block content
        .chatArea
          ul.messages
        input.inputMessage(placeholder="Type here...")
block js
    script(type='text/javascript').
      var username = '#{user.email}';
    script(src="//cdn.bootcss.com/socket.io/1.3.6/socket.io.min.js")
    script(src='/js/chat.js')
