extends ../../layouts/default

//- BODY
block content
  -function getLangIcon(lang) {lang = lang.toLowerCase(); if (lang == 'en') lang = 'us'; if (!lang) return ''; else return 'flag-icon-' + lang;}
  -function getPicUrl(file_server, prefix, pic) { if (pic == null || pic.length == 0) return '../img/default_user.png'; if (pic.indexOf('http://') == 0 || pic.indexOf('https://') == 0) return pic; else return file_server + prefix + pic;}
  script#photo-template(type="text/x-handlebars-template")
    div.thumb.boxshadow
      img(src='http://file.tttalk.org/original/{{pic_url}}')
    div.post-content
     div.post-content-container
       div.post-user
         div.avatar
           img(src='http://file.tttalk.org/thumbnail/{{author.pic_url}}' width="40" height="40")
         div.author
           span {{author.fullname}}
         div.create-time
           span {{create_date}}
         div.post-original
           span {{content}}
           div(class='original-flag flag-icon-background')
              getLangIcon({{lang}})
           | {{#each translates}}
           div.post-caption
             span {{to_content}}
             div(class='flag flag-icon-background')
               getLangIcon({{to_lang}})
           | {{/each}}
   script#photo-comment-template(type="text/x-handlebars-template")
     div.post-comment
       div.comment-list
       | {{#each this}}
       div.comment-item(id='' data-id='')
          img.item-avatar(src='http://file.tttalk.org/thumbnail/{{author.pic_url}}' width="40" height="40")
          div.author
           span {{author.fullname}}
         div.create-time
           span {{create_date}}
         div.item-original
           span {{content}}
       hr
       | {{/each}}
  div.container
    div.post(data-logined='' data-uuid='' data-cmt-count='')
    #user-photo
    hr
    #user-photo-comment
block js
  //- scripts
  script.
    var entry_point = '/api/populars/photo/#{photo_id}';
    var comment_entry_point = '/api/populars/photo/comment/#{photo_id}';

  script(src='/js/views/photo.js')
