extends ../../layouts/default

block flash-messages

block intro
  .page-intro: .container
    h1.bigPageTitle Hot

//- BODY
block content
  script#waterfall-tpl(type="text/x-handlebars-template")
    | {{#each this}}
    .item
      a.photo(href="/photos/{{_id}}")
        img(src="http://file.tttalk.org/bmiddle/{{pic_url}}" width="240" height="240")
      br
      a.avatar(href="/users/{{author._id}}")
        img.img-circle(src="http://file.tttalk.org/thumbnail/{{author.pic_url}}" width="40" height="40")
      | {{author.fullname}}
      p {{content}}
      p {{to_content}}
    | {{/each}}

  .page-content: .container
    #container(style="width: 1000px; margin: 0 auto;")


block js
  //- scripts
  script.
    var entry_point = '/api/populars/hot';

  script(src='/js/views/photos.js')
